.paint {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 2rem;
  align-items: center;
  font-size: 1.125rem;

  search {
    display: flex;
    gap: 1rem;

    input {
      width: 40ch;
    }
  }

  nav {
    display: flex;
    gap: 1rem;
    a {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
}
