:root {
  --bg-color-app: black;
  --text-color-app: white;
}

body {
  color: var(--text-color-app);
  background-color: var(--bg-color-app);
  &::-webkit-scrollbar {
    width: 7px;
    background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: firebrick;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
